<div id="postlist">
    {{#posts}}
        <h1>{{title}}</h1>
        <p class="muted">{{timeago}}</p>
        <p>{{excerpt}} <a href="/{{slug}}">Read more</a></p>
        <hr />
    {{/posts}}
</div>